body{
    background-color: slateblue;
}
.contenedor{
    color:aquamarine;
    text-align: center;   
}
.aea{
    color:green;
    text-align: center;   
}
body{
    border: 5px dashed black;
    padding: 20px;
}
img{
    text-align: center;
    margin: auto;
    display: block;
    border-image: 10px black;
}
